body {
    margin: 10px;
    padding: 10px;
}

header h1 {
    background-image: linear-gradient(to right, rgb(25, 162, 226), rgb(9, 9, 49));
    color: white;
    text-align: center;
    padding: 15px;
    }

#left-column input {
    width: 100%;  
}

#searchBtn {
    background-color: rgb(66, 190, 248);
    border:rgb(66, 190, 248);
    color: white;
    margin-top: 10px;
    width: 100%;
    }

    .line {
        border-bottom: grey solid 1px;
        padding: 5px;
        margin-bottom: 5px;
    }

    #search-history .button {
        justify-content: left;
        background: rgb(182, 181, 181);
        border: none;
        color: black;
        margin-top: 10px;
        text-align: center;
        width:100%;
    }

    #right-column {
        margin-top: 5px;
    }

    #current-city-weather {
        border:black 1px solid;
    }

   #day-card {
       background:rgb(37, 60, 78);
       color: white;
    }

    .card-img-top {
        max-width: 100px;
        max-height: 100px;
    }